/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Flash messages */
.flash-messages {
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    background-color: #f8d7da; /* Light red background */
    color: #721c24;            /* Dark red text */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Delete location container */
.location-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.form-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-box h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-box label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-align: left;
}

.form-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-box select:focus {
    border-color: #3498db; /* Change border color on focus */
}

/* Submit button */
.submit-btn {
    width: 80%;
    background-color: #000;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #333;
}
