/* Reset */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/img/pic2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /*Full viewport height*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.form-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-box h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.form-box label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-align: left;
    color: #555;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-box input:focus {
    border-color: #3498db;
}

/* Password input with toggle button */
.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 60px; /* Add space for the Show/Hide button inside the input */
}

.password-box .toggle-password {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0;
    color: #3498db;
    outline: none;
}

/* Submit button */
.submit-btn {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #333;
}

/* Flash messages */
.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash-message.error {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
}

.flash-message.success {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
}

/* Bottom text */
.form-box p {
    font-size: 0.9rem;
    color: #777;
    margin-top: 20px;
}

.form-box a {
    color: #3498db;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}
