/* General styles for the page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #151a15;
}

.results-container {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the filtering form */
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    align-items: center; /* Aligns labels and inputs vertically */
}

form label {
    margin-right: 10px; /* Adjust the spacing between label and input */
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #240f0f;
}

form input[type="date"],
form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 200px;
    color: #333;
    margin-left: 5px; /* Optional: to give a bit of space between label and input */
}

form button {
    width: 10%;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #264c28;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

table td {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table img {
    border-radius: 4px;
    width: 80px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Flash message styles */
.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.flash-message.error {
    background-color: #f8d7da; /* Light red background for errors */
    color: #721c24; /* Dark red text color */
}

.flash-message.success {
    background-color: #d4edda; /* Light green background for success */
    color: #155724; /* Dark green text color */
}

/* Pagination styles */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    color: #4CAF50;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #4CAF50;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #4CAF50;
    color: white;
}

.pagination span {
    font-weight: bold;
    margin: 0 10px;
}