<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Smart Underage Driver Detector System</title>
</head>
<body>
    <div class="overlay"></div> <!-- Overlay for better text visibility -->
    <div class="container">
        <h1>Smart Underage Driver Detector System</h1>

        <div class="buttons-container">
            <a href="{{ url_for('signup') }}" class="btn">Signup</a>
            <a href="{{ url_for('login') }}" class="btn">Login</a>
        </div>
    </div>
</body>
</html>
